<app-header></app-header>
<mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile [colspan]="1" [rowspan]="4" class="shadow">
            <app-objects-palette></app-objects-palette>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="3">
            <app-canvas></app-canvas>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" class="shadow">
            <app-properties></app-properties>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <app-event-inspector></app-event-inspector>
        </mat-grid-tile>
</mat-grid-list>
